<% title("#{controller.action_name.capitalize} menu") %>

<%= error_messages_for(@menu) %>

<%= form_for(@menu, :html => { :class => 'form-horizontal', :multipart => true }) do |f| %>
	<fieldset>

		<div class="control-group">
			<%= f.label '菜名', :class => 'control-label' %>
			<div class="controls">
				<%= f.text_field :name, :class => 'span7' %>
			</div>
		</div>

		<div class="control-group">
			<%= f.label '简介', :class => 'control-label' %>
			<div class="controls">
				<%= f.text_field :description, :class => 'span7' %>
			</div>
		</div>

		<div class="control-group">
			<%= f.label '价格', :class => 'control-label' %>
			<div class="controls">
				<%= f.text_field :price, :class => 'span7' %>
			</div>
		</div>

		<div class="control-group">
			<%= f.label '照片', :class => 'control-label' %>
			<div class="controls">
				<%= f.file_field :photo, :class => '' %>
			</div>
		</div>
		
		<div class="form-actions">
			<%= button_tag(nil, :class => "btn btn-primary") do |b| %>
				<i class="icon-ok icon-white"></i> 提交
			<% end %> or
			<%= link_to '取消', menus_path, :class => 'btn' %>
		</div>
	</fieldset>
<% end %>