<% title("Menus") %>
<p>
	<%= link_to(new_menu_path, :class => 'btn btn-success') do %>
		<i class="icon-plus icon-white"></i> 新菜单
	<% end %>
</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>

			<th>Name</th>

			<th>Created at</th>
			<th class="actions">Actions</th>
		</tr>
	</thead>
	<tbody>
		<%= content_tag_for(:tr, @menus) do |menu| %>
			<td>#<%= menu.id %></td>

			<td><strong><%= link_to("#{menu.name}", menu) %></strong></td>
			
			<td><%= menu.created_at %></td>
			<td class="actions">
				<%= link_to(edit_menu_path(menu), :class => 'btn btn-mini btn-primary') do %>
					<i class="icon-edit icon-white"></i> 编辑
				<% end %>
				<%= link_to(menu, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini btn-danger') do %>
				 <i class="icon-remove icon-white"></i> 删除
				<% end %>
			</td>
		<% end %>
	 </tbody>
</table>