<% title "菜式 ##{@menu.id}" %>

<table class="table table-bordered">
	<tbody>

		<tr><th><strong>名称</strong></th><td><%= @menu.name %></td></tr>
		
		<tr><th><strong>说明</strong></th><td><%= @menu.description %></td></tr>

		<tr><th><strong>说明</strong></th><td>￥<%= @menu.price %>元</td></tr>
		
		<tr><th><strong>照片</strong></th><td><%= image_tag @menu.photo.url %></td></tr>
		
	</tbody>
</table>

<div class="form-actions">
	<%= link_to(menus_path, :class => 'btn') do %>
		<i class="icon-circle-arrow-left"></i> Back
	<% end %> or 
	<%= link_to(edit_menu_path(@menu), :class => 'btn btn-primary') do %>
		<i class="icon-edit icon-white"></i> 编辑
	<% end %> 
	<%= link_to(@menu, :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger') do %>
		<i class="icon-remove icon-white"></i> 删除
	<% end %>
</div>