
<%= error_messages_for(@user) %>

<%= form_for(@user, :html => { :class => 'form-horizontal' }) do |f| %>
	<fieldset>

		<div class="control-group">
			<div class="controls">
				<h4>亲，登记一下，必须的</h4>
			</div>
		</div>

		<div class="control-group">
			<%= f.label '称呼', :class => 'control-label' %>
			<div class="controls">
				<%= f.text_field :name, :class => 'span7', :placeholder => '如：唐小姐' %>
			</div>
		</div>

		<div class="control-group">
			<%= f.label '手机', :class => 'control-label' %>
			<div class="controls">
				<%= f.text_field :tel, :class => 'span7', :value => @user.tel %>
			</div>
		</div>

		<div class="control-group">
			<%= f.label '送餐地址', :class => 'control-label' %>
			<div class="controls">
				<%= f.text_field :address, :class => 'span7' %>
			</div>
		</div>
		
		<div class="form-actions">
			<%= button_tag(nil, :class => "btn btn-success") do |b| %>
				<i class="icon-ok icon-white"></i> 提交
			<% end %>
		</div>
	</fieldset>
<% end %>