<% title("Users") %>
<p>
	<%= link_to(new_user_path, :class => 'btn btn-success') do %>
		<i class="icon-plus icon-white"></i> 新用户
	<% end %>
</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>

			<th>Name</th>

			<th>Tel</th>

			<th>Address</th>

			<th>Created at</th>
			<th class="actions">Actions</th>
		</tr>
	</thead>
	<tbody>
		<%= content_tag_for(:tr, @users) do |user| %>
			<td>#<%= user.id %></td>

			<td><strong><%= link_to("#{user.name}", user) %></strong></td>

			<td><strong><%= user.tel %></strong></td>

			<td><strong><%= user.address %></strong></td>
			
			<td><%= user.created_at %></td>
			<td class="actions">
				<%= link_to(edit_user_path(user), :class => 'btn btn-mini btn-primary') do %>
					<i class="icon-edit icon-white"></i> 编辑
				<% end %>
				<%= link_to(user, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini btn-danger') do %>
				 <i class="icon-remove icon-white"></i> 删除
				<% end %>
			</td>
		<% end %>
	 </tbody>
</table>

<div id="users"></div>
<script type="text/javascript">
	$(function() {
		// User is the app name
		window.router = new User.Routers.PostsRouter({users: <%= @users.to_json.html_safe -%>});
		Backbone.history.start();
	});
</script>