<% title "#{@user.name}" %>

<table class="table table-bordered">
  <tbody>

    <tr><th><strong>称呼</strong></th><td><%= @user.name %></td></tr>

    <tr><th><strong>手机</strong></th><td><%= @user.tel %></td></tr>
    
    <tr><th><strong>送餐地址</strong></th><td><%= @user.address %></td></tr>
    
  </tbody>
</table>

<div class="form-actions">
  <%= link_to(edit_user_path(@user), :class => 'btn btn-primary') do %>
    <i class="icon-edit icon-white"></i> 修改
  <% end %> 
</div>