<% title("菜单") %>

<div id="myCarousel" class="carousel slide" style="display:none">
	<!-- Carousel items -->
	<div class="carousel-inner">
	<% @menus.each do |menu| %>
		<div class="item"><%= image_tag menu.photo.url %></div>
	<% end %>
	</div>
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<ul class="thumbnails menu">
	<% @menus.each do |menu| %>
	<li class="">
		<div class="thumbnail">
			<%= link_to (image_tag menu.photo.url(:medium)), menu_path(menu) %>
			<h3 class=""><span class="menu-name"><%= link_to menu.name, menu_path(menu) %></span> <span class="btn btn-mini buy btn-warning">￥<span id="price"><%= menu.price %></span> <i class="icon-shopping-cart"></i></span</h3>
				
		</div>
	</li>
	<% end %>
</ul>

