<% title("#{controller.action_name.capitalize} order") %>

<%= error_messages_for(@order) %>

<%= form_for(@order, :html => { :class => 'form-horizontal' }) do |f| %>
  <fieldset>

    <div class="control-group">
      <%= f.label :tel, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :tel, :class => 'span7' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :items, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :items, :class => 'span7' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :prices, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :prices, :class => 'span7' %>
      </div>
    </div>
    
    <div class="form-actions">
      <%= button_tag(nil, :class => "btn btn-primary") do |b| %>
        <i class="icon-ok icon-white"></i> Save
      <% end %> or
      <%= link_to 'Cancel', orders_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>