<% title("Orders") %>

<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>顾客称呼</th>
			<th>菜单</th>
			<th>下单时间</th>
			<th class="actions"></th>
		</tr>
	</thead>
	<tbody>
		<%= content_tag_for(:tr, @orders) do |order| %>
			<td>#<%= order.id %></td>
			<td><strong><%= link_to("#{order.user_name}", order) %></strong></td>
			<td><strong><%= link_to order.items, order %></strong></td>
			<td><%= order.created_at.to_s(:db) %></td>
			
			<td class="actions">
				<% if @admin %>
					<%= link_to(edit_order_path(order), :class => 'btn btn-mini') do %>
						<i class="icon-edit icon-white"></i> 修改
					<% end %>
					<%= link_to(order, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini btn-danger') do %>
					 <i class="icon-remove icon-white"></i> 删除
				<% end %>
				<% else %>
					<%= link_to(page_path(1), :class => 'btn btn-mini' ) do %>
						<i class="icon-edit icon-white"></i> 修改
					<% end %>
					<%= link_to(order, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini btn-danger') do %>
					 <i class="icon-remove icon-white"></i> 删除
					<% end %>
				<% end %>
			</td>
		<% end %>
	 </tbody>
</table>

<%= paginate @orders %>