<% title "Order ##{@order.id}" %>

<table class="table table-bordered">
	<tbody>

		<tr><th><strong>客户</strong></th><td><%= @order.user_name %></td></tr>
		
		<tr><th><strong>手机</strong></th><td><%= @order.tel %></td></tr>
		
		<tr><th><strong>订单</strong></th>
			<td>
				<% @items_arr_with_prices_counts.each_with_index do |item, index| %>
					<%=raw "#{item[0]} <span class='badge'>X #{item[1]}</span><br />" %>
				<% end %>
				<%= "合计: #{@sum} 元" %>
			</td>
		</tr>
		
	</tbody>
</table>

<div class="form-actions">
	<% if @admin %>
		<%= link_to(edit_order_path(@order), :class => 'btn btn-primary') do %>
			<i class="icon-edit icon-white"></i> 编辑
		<% end %> 
		<%= link_to(@order, :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger') do %>
			<i class="icon-remove icon-white"></i> 删除
		<% end %>
	<% end %>
</div>
