<% title("#{controller.action_name.capitalize} page") %>

<%= error_messages_for(@page) %>

<%= form_for(@page, :html => { :class => 'form-horizontal' }) do |f| %>
  <fieldset>

    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'span7' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :text, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :text, :class => 'span7' %>
      </div>
    </div>
    
    <div class="form-actions">
      <%= button_tag(nil, :class => "btn btn-primary") do |b| %>
        <i class="icon-ok icon-white"></i> Save
      <% end %> or
      <%= link_to 'Cancel', pages_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>