<% title("Pages") %>
<p>
  <%= link_to(new_page_path, :class => 'btn btn-success') do %>
    <i class="icon-plus icon-white"></i> 新页面
  <% end %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>

      <th>Title</th>

      <th>Created at</th>
      <th class="actions">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= content_tag_for(:tr, @pages) do |page| %>
      <td>#<%= page.id %></td>

      <td><strong><%= link_to("#{page.title}", page) %></strong></td>
      
      <td><%= page.created_at %></td>
      <td class="actions">
        <%= link_to(edit_page_path(page), :class => 'btn btn-mini btn-primary') do %>
          <i class="icon-edit icon-white"></i> 编辑
        <% end %>
        <%= link_to(page, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini btn-danger') do %>
         <i class="icon-remove icon-white"></i> 删除
        <% end %>
      </td>
    <% end %>
   </tbody>
</table>