<% title @page.title %>

<%=raw @page.text %>

<% if @current_user == 'admin' %>
	<div class="form-actions">
		<%= link_to(pages_path, :class => 'btn') do %>
			<i class="icon-circle-arrow-left"></i> Back
		<% end %> or 
		<%= link_to(edit_page_path(@page), :class => 'btn btn-primary') do %>
			<i class="icon-edit icon-white"></i> 编辑
		<% end %> 
		<%= link_to(@page, :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger') do %>
			<i class="icon-remove icon-white"></i> 删除
		<% end %>
	</div>
<% end %>