<h1>Edit user</h1>

<form id="edit-user" name="user">
  <div class="field">
    <label for="address"> address:</label>
    <input type="text" name="address" id="address" value="<%= address %>" >
  </div>

  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="tel"> tel:</label>
    <input type="text" name="tel" id="tel" value="<%= tel %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update User" />
  </div>

</form>

<a href="#/index">Back</a>
