<h1>Listing users</h1>

<table id="users-table">
  <tr>
    <th>Address</th>
    <th>Name</th>
    <th>Tel</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New User</a>