<div class="nav-collapse">
	<ul class="nav">
		<%= menu('首页', root_path) %>
		<%= menu('订单', orders_path) %>
		<%= menu('菜单', menus_path) if @admin %>
		<%= menu('用户', users_path) if @admin %>
		<%= menu('页面', pages_path) if @admin %>
	</ul>
</div>