	<%= form_for @order do |f| -%>
		<!-- Showcase page elements -->
		<ul class="nav nav-list">
			<li class="nav-header"><h4><i class="icon-check"></i>我的订单</h4></li>
			<li id="cart">
				<!-- Append cart items here -->
				<div class="cearfix"></div>
			</li>
			<li class="cart-actions "><div id="confirm-buy" class="btn btn-success btn-small"><i class="icon-legal"></i>下单</div><div id="reset" class="btn btn-small"><i class="icon-trash"></i>清空</div></li>
		  
		  <!-- Actual form elements -->
		  <%= f.hidden_field :tel %>
		  <%= f.hidden_field :items %>
		  
		  <!-- submit will perform by js on button -->
		</ul>
	<% end -%>