<div class="btn-group pull-right">
	<% if @current_user %>
		<a class="btn dropdown-toggle text-on-yellow-bg" data-toggle="dropdown" href="#">
			<i class="icon-user"></i> <%= @current_user.name %>
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><%= link_to "用户信息", user_path(@current_user) %></li>
			<li class="divider"></li>
			<li><%= link_to "退出", "/users/signout" %></li>
		</ul>
	<% else %>
		<a class="btn dropdown-toggle text-on-yellow-bg" href="/users/login">
			<i class="icon-user"></i> 登录 / 登记
		</a>
	<% end %>
</div>