<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%= content_for?(:title) ? "#{app_name}美食外卖 - 妈妈也来外婆家蹭饭吃呢～" : "Takeout" %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="还有比妈妈做的饭更香的地方吗？那……只有外婆家了！">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<%= csrf_meta_tags %>
		<%= stylesheet "application", :media => "all" %>
		<%= yield(:stylesheet) %>
		<%= javascript_include_tag "application" %>
		<%= yield(:javascript) %>
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	</head>

	<body>
		<div id="universe">
			<div class="container-fluid">
				<div class="navbar navbar-fixed-top">
					<div class="navbar-inner">
							<div class="container-fluid">
							<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</a>
							<%= link_to(app_name, root_path, :class => "brand") %>
							<%= render 'layouts/user_dropdown' %>
							<%= render 'layouts/navbar' %>
						</div>
					</div>
				</div>
			</div>

			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span9">
						<%= display_flash_message %>
						<%= yield %>
					</div><!--/span-->
					<div class="span3"><%= render 'layouts/sidebar' %></div>
				</div><!--/row-->

				<footer id="footer">
					<p><%= app_name %> &copy;  2012</p>
				</footer>

			</div><!--/.fluid-container-->
			

		</div>
	</body>
</html>