<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%= content_for?(:title) ? "#{app_name}美食外卖 - 妈妈也来外婆家蹭饭吃呢～" : "Takeout" %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="还有比妈妈做的饭更香的地方吗？那……只有外婆家了！">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<%= csrf_meta_tags %>
		<%= stylesheet "application", :media => "all" %>
		<%= yield(:stylesheet) %>
		<%= javascript_include_tag "application" %>
		<%= yield(:javascript) %>
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	</head>

	<body>
		<div id="login">
			<div id="login-form">
				<form action="/users/signin" method="post">
					<div class="close" id="login-close">×</div>
					<input id="tel" type="password" name="tel" class="input-medium search-query" placeholder="输入手机号">
					<button id="login-submit" class="btn">登录 / 登记</button>
				</form>
			</div>
		</div>
		
		<script type="text/javascript">
			
		// Check login

			// init
			$('#login-form input').focus()

			// click events

			$('#login-close').click(function(){
				history.back()
			})

			$('#login-submit').click(function(){
				if ($('#tel').attr('value')==='') {
					alert('亲你忘了输入')
					return false
				}else {
					return true
				}
			})
		</script>
	</body>
</html>